<<<<<<< HEAD
@font-face {
	font-family: scoreFont;
	src: url(CursedTimerUlil-Aznm.ttf);
}
body {
	margin: 0;
	padding: 0;
	background-color: #111827;
	font-family: scoreFont;
	height: 100vh;
	width: 100%;
	display: flex;
	place-items: center;
	place-content: center;
}
.scoreboard {
	background-color: #1b244a;
	width: 450px;
	padding: 80px;
	border-radius: 15px;
	box-shadow: 1px 1px 10px 5px #00000038;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 80px;
	text-align: center;
}
.scoreboard p {
	background-color: #080001;
	color: #f94f6d;
	padding: 20px 25px;
	font-size: 90px;
	margin: 0;
	border-radius: 5px;
	height: 85px;
}
.scoreboard h2 {
	font-family: Verdana;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0;
}
=======
@font-face {
	font-family: scoreFont;
	src: url(CursedTimerUlil-Aznm.ttf);
}
body {
	margin: 0;
	padding: 0;
	background-color: #111827;
	font-family: scoreFont;
	height: 100vh;
	width: 100%;
	display: flex;
	place-items: center;
	place-content: center;
}
.scoreboard {
	background-color: #1b244a;
	width: 450px;
	padding: 80px;
	border-radius: 15px;
	box-shadow: 1px 1px 10px 5px #00000038;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 80px;
	text-align: center;
}
.scoreboard p {
	background-color: #080001;
	color: #f94f6d;
	padding: 20px 25px;
	font-size: 90px;
	margin: 0;
	border-radius: 5px;
	height: 85px;
}
.scoreboard h2 {
	font-family: Verdana;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0;
}
>>>>>>> 14e46ff4ce45daddc733ce161edd9ceb4753f837
