@font-face {
	font-family: scoreFont;
	src: url(CursedTimerUlil-Aznm.ttf);
}
body {
	margin: 0;
	padding: 0;
	background-color: #111827;
	font-family: scoreFont;
	height: 100vh;
	width: 100%;
	display: flex;
	place-items: center;
	place-content: center;
}
.scoreboard {
	background-color: #1b244a;
	width: 450px;
	padding: 90px;
	border-radius: 15px;
	box-shadow: 1px 1px 10px 5px #00000038;
	text-align: center;
}
.scoreboar-colum {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 80px;
}
.scoreboard p {
	background-color: #080001;
	color: #f94f6d;
	padding: 20px 25px;
	font-size: 80px;
	margin: 0;
	border-radius: 5px;
	height: 85px;
}
.scoreboard h2 {
	font-family: Verdana;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}
.scoreboard button {
	color: #9aabd8;
	border: 1px solid #9aabd8;
	font-size: 18px;
	font-family: inherit;
	cursor: pointer;
	background-color: transparent;
	padding: 8px;
	border-radius: 5px;
}
.button-group {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}
.reset-score button {
	background-color: #1d2b50;
	color: #f94f6d;
	padding: 18px 40px 12px 40px;
	margin-top: 40px;
	border: 1px solid #182c61;
	width: 100%;
	letter-spacing: 1px;
	transition: 0.5s;
}
.reset-score button:hover {
	background-color: #182b61c4;
	color: #f94f6d;
}
#fullTime {
	background-color: inherit;
	color: #40739e;
	font-size: 15px;
	padding: 0;
	height: 0;
	margin-top: 15px;
	letter-spacing: 1px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;
}
